<!DOCTYPE html>
<html
    xmlns="http://www.thymeleaf.org"
    lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contatos</title>
</head>
<body>
    
    <table border="1">
        <tr th:each="contatos : ${contatos}">
            <th th:text="${contatos.id}"></th>
            <th th:text="${contatos.nome}"></th>
            <th th:text="${contatos.fone}"></th>
        </tr>
    </table>


</body>
</html>