<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contatos</title>
    <link rel="stylesheet" th:href="@{/css/fontawesome.css}">
    <link rel="stylesheet" th:href=@{/css/bootstrap.css}> </head> <body>

    <div class="container" style="margin-top: 50px">
        <div class="row">
            <!--Inicio da tabela FORMULARIO-->
            <div class="col-6">

            </div>

            <!-- final da tabela FORMULARIO-->
            <div class="col-6">

                <!--Inicio da tabela -->
                <table class="table table-striped">

                    <thead>

                        <tr>
                            <th>#</th>
                            <th>Nome</th>
                            <th>Fone</th>
                        </tr>

                    </thead>

                    <tbody>
                        <tr th:each="contatos : ${contatos}">
                            <th th:text="${contatos.id}"></th>
                            <th th:text="${contatos.nome}"></th>
                            <th th:text="${contatos.fone}"></th>
                        </tr>
                    </tbody>

                </table>
                <!-- final da tabela -->

            </div>
        </div>
    </div>


    <script src="@{/js/jquery.js}"></script>
    <script src="@{/js/jquery.js}"></script>
    <script src="@{/js/jquery.js}"></script>
    <script src="@{/js/jquery.js}"></script>

    </body>

</html>